<h2>Search Books</h2>
<form action="/books" method="get">
<label>Title</label>
<input type="text" name="title" value="<%= searchOptions.title %>">

<div>
<label>Published After</label>
<input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
</div>
<div>
<label>Published Before</label>
<input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>"> 
</div>

<button type="submit">Search</button>
</form>
<div style="display: flex; text-align: center;">
<% books.forEach(book =>{ %>
    <div style="border: rgb(199, 70, 70); display: block; margin: 10px;">
    <img height="100" width="50" src= "<%= book.coverImagePath%>"></img>
    <div>
        <%= book.title%>
    </div>
    </div>

<%})  %>
</div>
